.container-content{
    margin-top: 80px;
}

.contenedor{
    left: 20px;
    padding-top: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.SongTitle{
    display: flex;
}

#ImagenAlbum{
    border: #FE575F 2px solid;
    -webkit-text-stroke: 1px lightgray;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    margin-left: 20px;
    margin-top: 5px;
}

.textSontTitle{
    margin-left: 10px;
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.textSontTitle h2{
    font-family: Impact;
    color: white;
    -webkit-text-stroke: 1px red;
}

.textSontTitle p{
    font-family: Impact;
    color: #CB1D11 ;
}

/*Article*/

article{
    margin-left: auto;
    margin-right: auto;

    width: 60%;

    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 -30px black;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    border: red solid 2px;
}
article:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
}

/*Table*/

.contenedorTablas{
    display: flex;
}

#TablaLetraOriginal{
    width: 50%;
    text-align: left;
}

#TablaLetraTraducida{
    width: 50%;
    text-align: left;
}

#TablaPie{
    width: 100%;
}

tr{
    vertical-align: text-top;
}

td p{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 300px;
}

.CeldaGrande{
    max-width: 100%; 
    text-align: center;
}

/*Video flotante*/

.container-video{
    position: fixed;
    top: 200px;
    right: 10px;
    width: 254px;
    height: 254px;
    background: white;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
    border: red 2px solid;
}

/*Diseno responsivo para mobiles*/

@media screen and (max-width: 1220px){
    .container-content{
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1050px){
    .container-video{
        position: relative;
        top: 0;
        right: 0;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

}

@media screen and (max-width: 1020px){
    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0 0 0 0;
    }
}

@media screen and (max-width: 800px){
    .contenedorTablas{
        display: grid;
    }
    #TablaLetraOriginal{
        width: 100%;
        text-align: left;
    }
    
    #TablaLetraTraducida{
        margin-top: 10px;
        width: 100%;
        text-align: left;
    }
    .contenedorTablaPie{
        width: 100%;
    }
    #audioCancion{
        width: 95%;
    }
}



